main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 2.0rem;
	padding: 2.0rem;
	min-height: 600px;

	section {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2.0rem;

		h3 {
			width: 100%;
		}

		p {
			text-align: center;
		}
	}
}

@media screen and (max-width: 1024px) and (min-width: 401px) {
	main {
		padding: 1rem;

		section {
			gap: 1.5rem;
		}
	}
}

@media screen and (max-width: 400px) {
	main {
		padding: 0.5rem;

		section {
			gap: 1rem;
		}
	}
}

